* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #544837;
}

.title {
    color: #2F281E;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.container {
    max-width: 1124px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    margin-bottom: 50px;
}

.header__logo {
    margin-left: 10px;
}

.menu {
    margin-left: auto;
}

.menu__items {
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 25px;
}

.menu__link {
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    color: #2F281E;
}

.user-nav {
    margin-left: 150px;
    margin-right: 10px;
}

.user-nav__link {
    color: #173A56;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 14px 26px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
}

.user-nav__link + .user-nav__link {
    color: #fff;
    background-color: #FB2719;
    padding: 14px 4px;
    border-color: transparent;
    margin-left: 14px;
}

.top__inner {
    padding: 77px 0 88px;
    background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;    
}

.top__title {
    max-width: 501px;
    font-size: 38px;
    line-height: 54px;
    margin-bottom: 30px;
}

.top__text {
    max-width: 450px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.top__btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #FB2719;
    padding: 17px 59px;
    border-radius: 4px;
    border-color: transparent;
}

.top__link {
    color: #FB2719;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-left: 30px;
    padding-left: 25px;
    position: relative;
}

.top__link::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 19px;
    left: 0;
    top: 0;
    background-image: url(../images/play-promo.png);
}

.tools {
    padding-top: 110px;
    margin-bottom: 147px;
}

.tools__title {
    text-align: center;
    max-width: 604px;
    margin: 0 auto 72px;
}

.tools__inner {
    background-image: url(../images/tools-bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 90px;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 8px 6px 0;
}

.tools__item {
    max-width: 240px;
}

.tools__img {
    margin-bottom: 30px;
}

.tools__item-title {
    color: 2F281E;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 21px;
}

.tools__item-text {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 26px;
}

.tools__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    background-color: #FB2719;
    padding: 17px 34px;
    border-radius: 4px;
    display: block;
    width: 175px;
    margin: 0 auto;
}

.descr__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 117px;
}

.descr__content {
    max-width: 486px;
}

.descr__content-left {
    margin-right: 18px;
}

.descr__content-right {
    margin-left: 18px;
}

.descr__pretitle {
    margin-bottom: 9px;
}

.descr__title {
    margin-bottom: 35px;
}

.descr__title-text {
    margin-bottom: 30px;
    max-width: 486px;
}

.descr__subtitle {
    color: #2F281E;
    font-weight: 700;
    margin-bottom: 12px;
    max-width: 486px;
}

.descr__text {
    margin-bottom: 25px;
    max-width: 486px;
}

.descr__list-item {
    list-style: none;
    padding-left: 65px;
    margin-bottom: 30px;
    max-width: 450px;
    position: relative;
}

.descr__list-item::before {
    content: "";
    position: absolute;
    background-image: url(../images/descr-list.svg);
    left: 0;
    top: 8px;
    height: 35px;
    width: 35px;
}





