* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #544837;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
}

.title {
    color: #2F281E;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.container {
    max-width: 1124px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    margin-bottom: 50px;
}

.header__logo {
    margin-left: 10px;
}

.menu {
    margin-left: auto;
}

.menu {
    margin-left: auto;
}

.menu__btn {
    width: 48px;
    height: 40px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.menu__btn span {
    display: block;
    height: 2px;
    width: 46px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 18px;
}

.menu__btn::before,
.menu__btn::after {
    content: "";
    position: absolute;
    width: 46px;
    height: 2px;
    background-color: #000;
    left: 1;
}

.menu__btn::before {
    top: 0;
}

.menu__btn::after {
    bottom: 0;
}


.menu__items {
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 25px;
}

.menu__link {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    color: #2F281E;
    transition: all .3s;
}

.menu__link:hover {
  color: #FB2719;
}

.user-nav {
    margin-left: 150px;
    margin-right: 10px;
}

.user-nav__link {
    color: #173A56;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 14px 26px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.user-nav__link:hover {
    color: #FB2719;
}

.user-nav__link + .user-nav__link {
    color: #fff;
    background-color: #FB2719;
    padding: 14px 4px;
    border-color: transparent;
    margin-left: 14px;
    transition: all .3s;
}

.user-nav__link + .user-nav__link:hover {
    color: #173A56;
}

.top__inner {
    padding: 69px 0 88px;
    background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 25px;    
}

.top__title {
    max-width: 501px;
    font-size: 38px;
    line-height: 54px;
    margin-bottom: 30px;
}

.top__text {
    max-width: 450px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.top__btn {
    color: #fff;
    background-color: #FB2719;
    padding: 17px 59px;
    border-radius: 4px;
    border-color: transparent;
    transition: all .3s;
}

.top__btn:hover {
  color: #173A56;
}

.top__link {
    color: #FB2719;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-left: 30px;
    padding-left: 25px;
    position: relative;
}

.top__link::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 19px;
    left: 0;
    top: 0;
    background-image: url(../images/play-promo.png);
}

.tools {
    padding-top: 110px;
    margin-bottom: 147px;
}

.tools__title {
    text-align: center;
    max-width: 620px;
    margin: 0 auto 72px;
    padding: 0 10px;
}

.tools__inner {
    background-image: url(../images/tools-bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 90px;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 8px;
}

.tools__item {
    max-width: 240px;
    padding: 0 6px;
}

.tools__img {
    margin-bottom: 30px;
}

.tools__item-title {
    color: #2F281E;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 21px;
}

.tools__item-text {
    margin-bottom: 60px;
}

.tools__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    background-color: #FB2719;
    padding: 17px 34px;
    border-radius: 4px;
    display: block;
    width: 175px;
    margin: 0 auto;
    transition: all .3s;
}

.tools__link:hover {
    color: #173A56;
}

.descr__box {
    display: flex;
    justify-content: space-between;
}

.descr__box + .descr__box {
    margin-top: 117px;
}

.descr__content {
    max-width: 486px;
}

.descr__content-left {
    margin-right: 18px;
}

.descr__content-right {
    margin-left: 18px;
}

.descr__pretitle {
    margin-bottom: 9px;
    line-height: 18px;
}

.descr__title {
    margin-bottom: 35px;
}

.descr__title-text {
    margin-bottom: 30px;
}

.descr__subtitle {
    color: #2F281E;
    font-weight: 700;
    margin-bottom: 12px;
}

.descr__text {
    margin-bottom: 25px;
}

.descr__img--right {
    border-radius: 0 25px 25px 0px;
}

.descr__img--left {
    border-radius: 25px 0 0 25px;
}

.descr__list-item {
    list-style: none;
    padding-left: 65px;
    margin-bottom: 30px;
    max-width: 450px;
    position: relative;
}

.descr__list-item::before {
    content: "";
    position: absolute;
    background-image: url(../images/descr-list.svg);
    left: 0;
    top: 8px;
    height: 35px;
    width: 35px;
}

.expert {
    background-image: url(../images/expert-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 158px 0 30px;
}

.expert__inner {
    padding: 230px 0 380px;
    position: relative;
}

.expert__box {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.expert__box-title {
    margin-bottom: 35px;
}

.expert__box-text {
    color: #567592;
    margin-bottom: 45px;
}

.expert__btn {    
    color: #fff;
    background-color: #FB2719;
    padding: 17px 18px;
    border-radius: 4px;
    border-color: transparent;
    transition: all .3s;
}

.expert__btn:hover {
    color: #173A56;
}

.expert__item {
    position: absolute;
    width: 98px;
    height: 98px;
}

.expert__item--1 {
    top: 147px;
    right: 128px;
}

.expert__item--2 {
    top: 459px;
    right: 0;
}

.expert__item--3 {
    bottom: 130px;
    right: 337px;
}

.expert__item--4 {
    bottom: 233px;
    left: 216px;
}

.expert__item--5 {
    top: 223px;
    left: 0px;
}

.expert__img {
    height: 98px;
    width: 98px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.expert__item-text {
    color: #2F281E;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 27px;
    padding: 18px 26px;
    position: absolute;
    white-space: nowrap;    
}

.expert__item-text.expert__item-text--left {
    top: -36px;
    right: 67px;
}

.expert__item-text.expert__item-text--right {
    top: -36px;
    left: 67px;
}

.expert__item-text--right::before,
.expert__item-text--right::after,
.expert__item-text--left::before,
.expert__item-text--left::after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.expert__item-text--left::before {
    width: 17px;
    height: 17px;
    right: 35px;
    bottom: -6px;
}

.expert__item-text--left::after {
    width: 9px;
    height: 9px;
    bottom: -19px;
    right: 13px;
}

.expert__item-text--right::before {
    width: 17px;
    height: 17px;
    left: 35px;
    bottom: -6px;
}

.expert__item-text--right::after {
    width: 9px;
    height: 9px;
    bottom: -19px;
    left: 13px;
}

.blog {
    margin-bottom: 120px;
}

.blog__title {
    margin-bottom: 19px;
}

.blog__text {
    margin-bottom: 55px;
}

.slider__img {
    width: 348px;
    height: 185px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 25px;
}

.slider__item-info {
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 12px;
}

.slider__item-author {
    font-weight: 700;
    text-decoration: none;
    color: #544837;
}

.slider__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    transition: all .2s;
    margin-bottom: 84px;
    cursor: pointer;
}

.slider__item-title:hover {
    color: #FB2719;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots button {
    width: 16px;
    height: 16px;
    background-color: #EFEFEF;
    border-radius: 50%;
    font-size: 0;
    border: none;
    padding: 0;
    margin: 5px;
} 

.slick-dots .slick-active button {
    background-color: #FB2719;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(188, 208, 229, 0.496913);
    padding: 96px 0 103px;
}

.footer__logo {
    margin-left: 10px;
}

.footer__menu {
    width: 182px;
}

.footer__menu--left {    
    margin-left: 85px;
}

.footer__menu--right {
    margin-right: 85px;
}

.footer__menu-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #2F281E;
    margin-bottom: 35px;
}

.footer__list-item {
    list-style: none;
}

.footer__list-link {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    text-decoration: none;
    color: #544837;
    transition: all .3s;
}

.footer__list-link:hover {
  color: #FB2719;
}

.footer__form {
    max-width: 330px;
}

.footer__form-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #2F281E;
    margin-bottom: 34px;
}

.footer__input {
    width: 330px;
    height: 46px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 22px; 
    font-family: 'Ubuntu', sans-serif;   
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;  
}

.footer__input::placeholder {
    color: #BCD0E5;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;  
}

.footer__form-btn {
    color: #fff;
    background-color: #FB2719;
    padding: 10px 16px;
    border-radius: 4px;
    border-color: transparent;
    transition: all .3s;
}

.footer__form-btn:hover {
  color: #173A56;
}





